.login-form{
    width: 30%;
    position: absolute;
    background-color: aliceblue;
    color: grey;
    padding: 40px;
    top:20%;
    left: 33%;
    border-radius: 20px;
}
.login{
    width: 100%;
    height: 70vh;
}
@media screen and (max-width:700px) {
    .login-form{
        width: 100%;
        position: unset;
        padding: 40px;
        border-radius: 20px;
    }
    .login{
        margin-top: 20%;
    }
}